.grid_wrap {
  padding-top: 30px;
  padding-bottom: 69px;
  display: grid;
  gap: 20px;
  flex: 1;

  grid-template-areas:
    "A B B"
    "A C D"
    "A C D";

  @media (max-width: 992px) {
    grid-template-areas:
      "A A"
      "B B"
      "C D";
  }
  @media (max-width: 576px) {
    grid-template-areas:
      "A"
      "B"
      "C"
      "D";
  }
}
