.mainBlock {
    padding: 40px 30px;
    background-color: var(--black);
    grid-area: A;

    &__btn {
        background-color: var(--white);
        padding: 10px 23px 10px 39px;
        border-radius: 15px;
    }

    p {
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: var(--extralight-grey);
        text-transform: uppercase;
        margin-bottom: 7px;
    }

    h1 {
        font-size: 64px;
        line-height: 70px;
        color: var(--white);
    }
}

.newsCard {
    background-color: var(--mid-grey);
    padding: 20px 26px;
    grid-area: B;
}

.awardCard {
    color: var(--white);
    background-color: var(--purple);
    padding: 18px;
    grid-area: C;
}

.formCard {
    background-color: var(--green);
    padding: 18px;
    grid-area: D;
}
