:root {
    --black: #262626;
    --white: #FFFFFF;
    --grey: rgba(34, 60, 80, 0.2);
    --light-grey: #E1E3E7;
    --extralight-grey: #C8C8CA;
    --mid-grey: #D7D9DD;
    --purple: #B286FD;
    --green: #B2F042;

    --header-height: 88px;
}
