:root {
  --black: #262626;
  --white: #ffffff;
  --grey: rgba(34, 60, 80, 0.2);
  --light-grey: #e1e3e7;
  --extralight-grey: #c8c8ca;
  --mid-grey: #d7d9dd;
  --purple: #b286fd;
  --green: #b2f042;

  --header-height: 88px;
}
